.git
.github
.env
.env.*
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/hot
public/storage
.phpunit.result.cache
npm-debug.log
yarn-error.log
Dockerfile
docker-compose.yml
