APP_NAME="SMER Tecsup"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=America/Lima
APP_URL=https://tu-app.onrender.com

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_PE

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_URL=mysql://usuario:password@host:3306/base_de_datos
DB_HOST=host-mysql-online
DB_PORT=3306
DB_DATABASE=smer_tecsup
DB_USERNAME=usuario_mysql
DB_PASSWORD=password_mysql
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

CACHE_STORE=database
QUEUE_CONNECTION=database
FILESYSTEM_DISK=local

MAIL_MAILER=log
MAIL_FROM_ADDRESS="no-reply@smer.local"
MAIL_FROM_NAME="${APP_NAME}"
BREVO_API_KEY=

RUN_SEEDERS=true
VITE_APP_NAME="${APP_NAME}"
